body, html {
    font-family: sans-serif;
    background: #222;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

#control-panel, #presets-panel, #params-panel {
    position: absolute;
    z-index: 100;
    background: rgba(125,125,125,0.3);
    color: #fff;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: inset #111 0 0 5px;
}

#control-panel {
    top: 0;
    left: 0;

    width: 25%;
    height: 92%;
    max-height: 860px;

    display: flex;  /* 使用 Flexbox 布局 */
    flex-direction: column;
}

#control-contents {
    width: 100%;  /* 宽度 */
    flex-grow: 1;
}

#stats {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: rgb(116, 125, 140);
    font-weight: bold;
    font-size: 14px;
}

#presets-panel {
    top: 0;
    right: 0;

    width: 40%;
    height: 62%;

    display: flex;  /* 使用 Flexbox 布局 */
    flex-direction: column;
}

#presets-contents {
    width: 100%;  /* 宽度 */
    flex-grow: 1;
}

#params-panel {
    bottom: 0;
    right: 0;

    width: 22.5%;
    height: 30%;
    max-height: 290px;

    display: flex;  /* 使用 Flexbox 布局 */
    flex-direction: column;
}

#params-contents {
    width: 100%;  /* 宽度 */
    flex-grow: 1;
}

.scrollable {
    overflow-y: auto;  /* 垂直滚动 */
    background: transparent;  /* 背景透明 */

    /* 自定义滚动条样式 */
    scrollbar-width: thin;  /* 滚动条宽度 */
    scrollbar-color: rgba(255, 255, 255, 1);  /* 滚动条颜色 */

    border-radius: 5px;
}

.scrollable::-webkit-scrollbar {
    width: 5px;  /* 宽度 */
}

.scrollable::-webkit-scrollbar-track {
    background: transparent;  /* 滚动条轨道颜色 */
}

.scrollable::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);  /* 滚动条颜色 */
    border-radius: 5px;  /* 圆角 */
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 16px;
}

kbd {
    font-family: monospace;
    font-size: 20px;
    width: 22px;
    display: inline-block;
    font-weight: bold;
}

h1, h2, h3{
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    margin-top: 12px;
}

h2 .title-span {
    font-family: 'monospace';
    font-weight: bold;
    color: #aaa;
}

h3 .title-span {
    font-family: 'monospace';
    font-weight: bold;
    color: rgb(161, 161, 161);
}

h4 .title-span {
    font-family: 'monospace';
    font-weight: bold;
    color: rgb(148, 148, 148);
}

h5 {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin: 10px 5px 5px 0;
}

a {
    color: #aaf;
    text-decoration: none;
}

h5 a {
    color: #aaf;
    text-decoration: none;
    font-family: monospace;
}

strong {
    color:rgb(166, 216, 166);
}

p {
    color: rgb(206, 214, 224);
    margin-left: 10px;
    margin-right: 10px;
}

details {
    margin: 10px;
    margin-left: 20px;
}

img {
    width: 90%;
    border-radius: 5px;
    opacity: 1;
}

.img-block {
    text-align: center;
    opacity: 1;
}

.simulation-block {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 2px;
    margin-top: 10px;
}

.input-box {
    width: 80px;
}

.label {
    width: 40px;
}

#chaos-def {
    padding-left: 30px;  /* 缩进 */
}
#chaos-def li{
    list-style-type: disc;  /* 圆点 */
}

#first-line {
    flex: 0 0 auto;  /* 这使得 #first-line 不会被压缩或扩展 */
}

#other-lines {
    flex: 1 1 auto;  /* 这使得 #other-lines 会占据剩余的空间，并且可以被压缩和扩展 */
}